/* -----------------------------------------------------------------------------

 sitemap.css

----------------------------------------------------------------------------- */
.section .paragraph + .paragraph {
  margin: 80px 0 0;
  padding: 80px 0 0;
  border-top: 1px solid #d2d8d8;
}
.section .paragraph .paragraphTtl {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 30px;
  line-height: 1.4;
}
.section .paragraph div a {
  text-decoration: underline;
  color: #d40000;
}
.section .paragraph div a:hover {
  text-decoration: none;
}
.section .paragraph div + div {
  margin: 30px 0 0;
}
.section .paragraph div .paragraphTtlSub {
  font-weight: 700;
  font-size: 1.6rem;
  margin: 0 0 5px;
  line-height: 1.4;
}
.section .paragraph div ol li {
  margin: 0 0 0 3em;
  text-indent: -3em;
}
.section .paragraph .inquiryBox {
  margin: 40px auto 0;
  max-width: 660px;
  padding: 25px 20px 20px;
  border: 1px solid #d2d8d8;
  text-align: center;
}
.section .paragraph .inquiryBox dt {
  font-size: 1.7rem;
  padding: 0 0 5px;
  font-weight: 700;
  line-height: 1.4;
}
.section .paragraph .inquiryBox dd p {
  margin: 0 0 5px;
  line-height: 1.4;
}
.section .paragraph .inquiryBox dd ul {
  font-size: 0;
}
.section .paragraph .inquiryBox dd ul li {
  display: inline-block;
  font-size: 2.6rem;
  font-weight: 700;
}
.section .paragraph .inquiryBox dd ul li + li {
  margin: 0 0 0 50px;
}
.section .paragraph .inquiryBox dd ul li span {
  display: inline-block;
  font-size: 1.5rem;
}
.section .paragraph .txtRight {
  margin: 30px 0 0;
  text-align: right;
}

/* -----------------------------------------------------------------------------

 min-width: 751px

----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------

 max-width: 1240px

----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------

 max-width: 1000px

----------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------

 max-width: 750px

----------------------------------------------------------------------------- */
@media screen and (max-width: 750px) {
  .section .paragraph + .paragraph {
    margin: 40px 0 0;
    padding: 40px 0 0;
  }
  .section .paragraph .paragraphTtl {
    font-size: 2rem;
    margin: 0 0 15px;
  }
  .section .paragraph div + div {
    margin: 30px 0 0;
  }
  .section .paragraph div .telLink {
    text-decoration: underline;
  }
  .section .paragraph div .paragraphTtlSub {
    font-size: 1.5rem;
  }
  .section .paragraph .inquiryBox {
    margin: 30px auto 0;
    padding: 20px 10px 15px;
  }
  .section .paragraph .inquiryBox dt {
    font-size: 1.5rem;
  }
  .section .paragraph .inquiryBox dd p {
    font-size: 1.2rem;
  }
  .section .paragraph .inquiryBox dd ul {
    font-size: 0;
  }
  .section .paragraph .inquiryBox dd ul li {
    display: block;
    font-size: 1.8rem;
  }
  .section .paragraph .inquiryBox dd ul li + li {
    margin: 5px 0 0;
  }
  .section .paragraph .inquiryBox dd ul li span {
    font-size: 1.3rem;
  }
}
/* -----------------------------------------------------------------------------

 max-width: 374px

----------------------------------------------------------------------------- */
